<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<header class="app-header">
    <h1>Remove {{movie.title}}</h1>
</header>
<div class="remove-movie">
  <h2 class="remove">Want to remove this movie?</h2>
  <div class="deleteButton">
    <a ng-click="deleteMovie()"><button class="remove">Remove</button></a>
  </div>
  <div class="backButton">
    <a href="#/"><button class="details">Back</button></a>
  </div>
</div>
